<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>オンライン交換ノート</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header>
  <div class="header-logo">
  <% if @current_room && @current_user  %>
    <%= link_to("交換ノート同好会", "/room/#{@current_room.id}") %>
  <% elsif @current_user %>
    <%= link_to("交換ノート同好会", "/room/index") %>
  <% else %>
     <%= link_to("交換ノート同好会", "/") %>
  <% end %>
  </div>
<ul class="header_menus">
  <% if session[:user_id]  && session[:room_id]  %>
   <li>
      <%= link_to("退出", "/room/out", {method: "post"}) %>
   </li>
   <li>
      <%= link_to("コメント", "/room/#{@current_room.id}/comment_index") %>
   </li>
   <li>
      <%= link_to("ノート一覧","/room/#{@current_room.id}") %>
   </li>
   <li>
      <%= link_to("ユーザー：" + @current_user.name, "/user/#{@current_user.id}") %>
   </li>
  <% elsif session[:user_id] %>
   <li>
      <%= link_to("ログアウト", "/logout", {method: "post"}) %>
   </li>
   <li>
      <%= link_to("ユーザー：" + @current_user.name, "/user/#{@current_user.id}") %>
   </li> 
   <% else %>
   <li>
       <%= link_to("使い方", "/how_to_use") %>
   </li>
   <li>
     <%= link_to("ログイン", "/login")%>
   </li>
   <li>
     <%= link_to("新規登録", "/signup") %>
   </li>
  <% end %>
</ul>
  </header>

  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
  <% end %>
    <%= yield %>
  </body>
</html>
